@font-face {font-family: MathJax_Main; src: url('fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff') format('woff')}
@font-face {font-family: MathJax_Main-bold; src: url('fonts/HTML-CSS/TeX/woff/MathJax_Main-Bold.woff') format('woff')}
@font-face {font-family: MathJax_Main-italic; src: url('fonts/HTML-CSS/TeX/woff/MathJax_Main-Italic.woff') format('woff')}

@font-face {font-family: MathJax_SansSerif; src: url('fonts/HTML-CSS/TeX/woff/MathJax_SansSerif-Regular.woff') format('woff')}
@font-face {font-family: MathJax_SansSerif-bold; src: url('fonts/HTML-CSS/TeX/woff/MathJax_SansSerif-Bold.woff') format('woff')}
@font-face {font-family: MathJax_SansSerif-italic; src: url('fonts/HTML-CSS/TeX/woff/MathJax_SansSerif-Italic.woff') format('woff')}

@font-face {font-family: MathJax_Typewriter; src: url('fonts/HTML-CSS/TeX/woff/MathJax_Typewriter-Regular.woff') format('woff')}

@font-face {font-family: MathJax_Math; src: url('fonts/HTML-CSS/TeX/woff/MathJax_Math-Regular.woff') format('woff')}
@font-face {font-family: MathJax_Math-bold; src: url('fonts/HTML-CSS/TeX/woff/MathJax_Math-Bold.woff') format('woff')}
@font-face {font-family: MathJax_Math-italic; src: url('fonts/HTML-CSS/TeX/woff/MathJax_Math-Italic.woff') format('woff')}

@font-face {font-family: MathJax_Caligraphic; src: url('fonts/HTML-CSS/TeX/woff/MathJax_Caligraphic-Regular.woff') format('woff')}
@font-face {font-family: MathJax_Caligraphic-bold; src: url('fonts/HTML-CSS/TeX/woff/MathJax_Caligraphic-Bold.woff') format('woff')}

@font-face {font-family: MathJax_Fraktur; src: url('fonts/HTML-CSS/TeX/woff/MathJax_Fraktur-Regular.woff') format('woff')}
@font-face {font-family: MathJax_Fraktur-bold; src: url('fonts/HTML-CSS/TeX/woff/MathJax_Fraktur-Bold.woff') format('woff')}

@font-face {font-family: MathJax_Script; src: url('fonts/HTML-CSS/TeX/woff/MathJax_Script-Regular.woff') format('woff')}

body {
  font-family: MathJax_Main;
  font-size: 20px;
  padding: 1em 1em 1em 1em;
}
code {
  background: #f4f4f4;
}
table {
  border-collapse : collapse;
}
table th,
table td {
  padding : 4px 8px;
  border : 1px solid #aaa;
}
ul {
  margin-left: 0;
  padding-left: 2em;
}
acronym {
  text-decoration : none;
  border-bottom : 1px dotted #888;
  cursor: help;
}
blockquote {
  margin-left: .6em;
  padding-left: 1em;
  border-left: .4em solid #ddd;
}
pre > code {
  display: block;
}
.caps {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .1em;
}
